#Set up ngrok
NGROK_AUTHTOKEN=YOUR_NGROK_AUTHTOKEN_HERE
NGROK_DOMAIN=YOUR_NGROK_DOMAIN_HERE


# MinIO Config
GENERIC_TIMEZONE=Asia/Ho_Chi_Minh
MINIO_ENDPOINT=http://localhost:9000
ACCESS_KEY=minioadmin
SECRET_KEY=minioadmin123

# Telegram Config
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
TELEGRAM_CHAT_ID=YOUR_CHAT_ID_HERE
TG_BASE_URL=https://api.telegram.org/bot

# RabbitMQ Config
RB_USER=guest
RB_PASS=guest
RB_HOST=http://host.docker.internal
RB_API_URL=http://host.docker.internal:15672/api/queues

